.main {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.greeting, .about, .projects, .contact{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
}

.about {
  text-align: center;
  gap: 2rem;
}

.aboutcontainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
}

.about p {
  width: 600px;
  padding: 2rem;
}

.about ul {
  padding: 2rem;
}

.projects {
  gap: 1rem;
}

.greeting {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hi::before {
  content: "";
  animation: hi 6s infinite ease-in-out, strobe 6s infinite ease-out 2s;
}

#name::before {
  content: "";
  animation: name 6s infinite ease-in-out, strobe 6s infinite ease-in-out 1s;
}

#greet::before {
  content: "";
  animation: greet 6s infinite ease-in-out, strobe 6s infinite ease-in;
}

.arrow {
  margin-top: 3rem;
  animation: down 0.4s infinite alternate ease-in-out;
}

.skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  gap: 1rem;
}

.skills li {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.skills li:hover {
  background-color: teal;
  border-color: teal;
}

.projectlist {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  gap: 0.5rem;
}

.contactpoints {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 2rem;
}

.contactbox {
  width: 50px;
}

.contactbox:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

@keyframes down {
  0% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(3rem);
  }
}

@keyframes hi { 
  0% {
    content: "Hi There!";
  }
  50% {
    content: "안녕하세요!";
  }
  100% {
    content: "Hi There!";
  }
}

@keyframes name {
  0% {
    content: "I'm Luan."
  }
  50% {
    content: "루안입니다."
  }
  100% {
    content: "I'm Luan."
  }
}

@keyframes greet {
  0% {
    content: "Nice to meet you!"
  }
  50% {
    content: "만나서 반갑습나다!"
  }
  100% {
    content: "Nice to meet you!"
  }
}

@keyframes strobe {
  0% {
    color: teal
  }
  20% {
    color: lightblue
  }
  40% {
    color: green
  }
  60% {
    color: lightblue
  }
  80% {
    color: teal
  }
  100% {
    color: white
  }
}

@media screen and (max-width: 600px) {
  .about p {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .greeting {
    font-size: 2.5rem;
  }
}

@keyframes menuslide { 
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}